<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<title>Yoon, Front end Developer</title>
</head>

<body>
	<header id="nav">
		<div class="nav-menu__panel">
			<ul>
				<li a href='#' onclick='location.reload(true);'>Home</a></li>
				<li><a href="https://soyoonca.herokuapp.com">Web</a></li>
				<li>App</li>
				<li>Resume</li>
			</ul>
		</div>
		<div class="nav-menu">
			<div class="nav-menu__burger"></div>
		</div>
	</header>
	<main>
		<article>
			<h1 class="main-h1">
				<span>Y</span>
				<span>O</span>
				<br>
				<span>O</span>
				<span>N</span>
			</h1>
		</article>
		<div class="h1">
			<!---resume ㄹㅣㄹ크 넣넣기기-->
			<h2><span>Front End Developer</span></h2>
			<h2> based in Canada, South Korea</h2>
			<h2><a href="https://www.fanshawec.ca/programs/idp3-interactive-media-design/next">Graduate, Interactive
					Media Design</a></h2>
		</div>
		<div class="icons">
			<ul>
				<img src="assets/github.svg">
				<img src="assets/linkedin.svg">
			</ul>
		</div>


	</main>
	<script src="style.js"></script>
</body>

</html>